* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.green {
    background-color: green;
    height: 300px;
    width: 200px;
}

.mocha {
    background-color: yellow;
    height: 150px;
    width: 400px;
}

.red {
    background-color: red;
    height: 150px;
    width: 400px;