* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.sguare {
    width: 100px;
    height: 100px;
}

.biggie_sguare {
    width: 600px;
    height: 400px;
    background-color: aquamarine;
    position: relative;
    top: 200px;
    left: 400px;
}

.color {
    background-color: whitesmoke;
}

.position_one {
    position: absolute;
    bottom: 50px;
    right: 60px;
}

.position_two {
    position: relative;
    top: 50px;
    left: 60px;
}